{% extends 'base.html.twig' %}

{% block title 'Nos Biens' %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1>Voir tous nos biens</h1>
            <table>
                <thead>
                    <tr>
                        <td>id</td>
                        <td>blb</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                {% if properties is null %}
                    <tr>
                        <td colspan=14>Il n'y a pas de biens visibles</td>
                    </tr>
                {% else%}
                {% for property in properties %}
                    <tr>
                        <td>{{ property.id }}</td>
                        <td>{{ property.title }}</td>
                        <td>{{ property.description | raw }}</td>
                        <td>{{ property.surface }}</td>
                        <td>{{ property.rooms }}</td>
                        <td>{{ property.bedrooms }}</td>
                        <td>{{ property.floor }}</td>
                        <td>{{ property.price }}</td>
                        <td>{{ property.heat }}</td>
                        <td>{{ property.city }}</td>
                        <td>{{ property.address }}</td>
                        <td>{{ property.postalCode }}</td>
                        <td>{{ property.sold }}</td>
                        <td>{{ property.createdAt | date('Y-m-d')}}</td>
                    </tr>
                {% endfor %}
                {% endif %}
                </tbody>

            </table>
        </div>
    </div>




</div>
{% endblock %}